* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

body {
    background-color: #FBF4F4;
}

.container {
    margin: auto;
    max-width: 1366px;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F5EAEA;
    height: 80px;
}

.logo {
    position: relative;
    top: 20px;
    left: 20px;
}

.pages {
    display: flex;
    align-items: center;
    position: relative;
    left: 90px;
    gap: 8px;
}

.menu, .menu2 {
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 10px;
    gap: 8px;
}

.menu p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #666666;
}

.menu2 p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    color: #F24D0D;
}

.right-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 15px;
    gap: 15px;
}

.button1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-radius: 10px;
    gap: 8px;
    font-family: Poppins;
    height: 40px;
    background-color: #F24D0D;
    color: white;
}

.button1:hover {
    cursor: pointer;
}

.button1 p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
}

.user {
    border-radius: 12px;
}

.user:hover {
    cursor: pointer;
}

.user2, .side-menu {
    display: none;
}

header, .content {
    display: flex;
    justify-content: center;
    margin: 32px 169px;
}

header {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}   

.title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.link {
    display: flex;
    align-items: center;
    padding: 2px;
    gap: 8px;
}

.link a {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    color: #F24D0D;
}

.link span:hover {
    cursor: pointer;
}

.title h2 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
}

.title p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #666666;
}

.frame1 {
    display: flex;
    align-items: flex-end;
    gap: 16px;
}

.frame1 .link {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    color: #F24D0D;
}

.frame1 .link:hover {
    cursor: pointer;
}

.content {
    display: flex;
    margin-top: 2.5rem;
    gap: 1.5rem;
}

.image img {
    border-radius: 20px;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 20px;
    gap: 24px;
    background-color: white;
}

.frame2 {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.frame2 h3 {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    color: #666666;
}

.tagstatus {
    display: flex;
    padding: 4px 8px;
    border-radius: 9999px;
    gap: 8px;
    background-color: #0095E5;
}

.tagstatus p {
    font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input1-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input1 {
    display: flex;
    flex-direction: column;
    margin-right: 1.2rem;
    padding: 14px 2px;
    border-bottom: 1px solid #ADADAD;
    gap: 8px;
    max-width: 323px;
    width: 100%;
}

.input2 {
    display: flex;
    flex-direction: column;
    padding: 14px 2px;
    border-bottom: 1px solid #ADADAD;
    gap: 8px;
    max-width: 200px;
    width: 100%;
}

.input3 {
    display: flex;
    flex-direction: column;
    padding: 14px 2px;
    border-bottom: 1px solid #ADADAD;
    gap: 8px;
    max-width: 543px;
    width: 100%;
    height: 106px;
}

.input1 label, .input2 label, .input3 label, .select label {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    color: #666666;
}

.INPUT1, .INPUT2, .INPUT3, .INPUT4 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #3D3D3D;
}

.INPUT2 {
    display: flex;
    gap: 4px;
}

.INPUT2 span {
    color: #F24D0D;
}

.select {
    display: flex;
    flex-direction: column;
    padding: 14px 2px;
    border-bottom: 1px solid #ADADAD;
    gap: 8px;
    max-width: 543px;
    width: 100%;
}

.INPUT4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.INPUT-frame img:hover {
    cursor: pointer;
}

.action {
    display: flex;
    justify-content: center;
    gap: 12px;
    max-width: 543px;
    width: 100%;
}

.btn1 {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border: 1px solid #F24D0D;
    border-radius: 10px;
    gap: 12px;
    max-width: 265.5px;
    width: 100%;
    height: 48px;
}

.btn1 p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #F24D0D;
}

.btn2 {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
    gap: 12px;
    max-width: 265.5px;
    width: 100%;
    height: 48px;
    background-color: #F24D0D;
}

.btn2 p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: white;
}

.btn1:hover, .btn2:hover {
    cursor: pointer;
}

@media screen and (max-width: 1078px) {
    header, .content {
        margin: 32px 84.5px;
    }
}

@media screen and (max-width: 909px) {
    header, .content {
        margin: 32px 42px;
    }
}

@media screen and (max-width: 831px) {
    .frame1 {
        flex-direction: column;
        justify-content: flex-end;
        gap: 6px;
    }
}

@media screen and (max-width: 800px) {
    .pages {
        left: 45px;
    }
}

@media screen and (max-width: 764px) {
    .content {
        flex-direction: column;
    }

    .image {
        display: flex;
        justify-content: center;
    }

    .image img {
        width: auto;
    }

    form {
        align-items: center;
    }
}

@media screen and (max-width: 745px) {
    .pages {
        left: 22.5px;
        gap: 4px;
    }
}

@media screen and (max-width: 650px) {
    .pages {
        display: none;
    }

    .user {
        display: none;
    }

    .user2 {
        display: flex;
        border-radius: 12px;
        margin-left: auto;
        position: absolute;
        top: 14px;
        right: 15px;
    }

    .user2:hover {
        cursor: pointer;
    }

    .user2:focus + .side-menu {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        padding: 35px 20px;
        border-left: 1px solid rgb(245, 235, 235);
        border-bottom: 1px solid rgb(245, 235, 235);
        border-right: 1px solid rgb(245, 235, 235);
        position: absolute;
        top: 80px;
        right: 0;
        z-index: 0;
        gap: 25px;
        width: 105px;
        background-color: white;
    }

    .menu3, .menu4 {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .menu3 p {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        color: #666666;
    }

    .menu4 p {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.8px;
        color: #F24D0D;
    }

    .button1 {
        margin-right: 4rem;
    }
}

@media screen and (max-width: 649px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .frame1 {
        align-items: flex-start;
    }
}

@media screen and (max-width: 500px) {
    .image img {
        width: 100%;
    }
}