* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

body {
    background-color: #FBF4F4;
}

.container {
    margin: auto;
    max-width: 1366px;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F5EAEA;
    height: 80px;
}

.logo {
    position: relative;
    top: 20px;
    left: 20px;
}

.pages {
    display: flex;
    align-items: center;
    position: relative;
    left: 90px;
    gap: 8px;
}

.menu, .menu2 {
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 10px;
    gap: 8px;
}

.menu2 img {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(40%) contrast(25%);
}

.menu p, .menu2 p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #666666;
}

.right-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 15px;
    gap: 15px;
}

.button1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-radius: 10px;
    gap: 8px;
    font-family: Poppins;
    height: 40px;
    background-color: #F24D0D;
    color: white;
}

.button1:hover {
    cursor: pointer;
}

.button1 p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
}

.user {
    border-radius: 12px;
}

.user:hover {
    cursor: pointer;
}

.user2, .side-menu, .menu-toggle {
    display: none;
}

header, .content {
    display: flex;
    justify-content: center;
    margin: 64px 169px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 8px;
} 

header h2 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
}

header p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #666666;
}

.content {
    display: flex;
    margin-top: -1.5rem;
    gap: 1.5rem;
}

.image img {
    border-radius: 20px;
    width: 100%;
}

.image img:hover {
    cursor: pointer;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 20px;
    gap: 20px;
    background-color: white;
    width: 591px;
}

.frame {
    display: flex;
    justify-content: flex-start;
}

.frame h3 {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    color: #666666;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    outline: none;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    width: 100%;
}

.input1-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input1 {
    display: flex;
    flex-direction: column;
    margin-right: 1.2rem;
    padding: 14px 2px;
    border-bottom: 1px solid #ADADAD;
    gap: 12px;
    max-width: 307px;
    width: 100%;
}

.input2 {
    display: flex;
    flex-direction: column;
    padding: 14px 2px;
    border-bottom: 1px solid #ADADAD;
    gap: 12px;
    max-width: 200px;
    width: 100%;
}

.input3 {
    display: flex;
    flex-direction: column;
    padding: 14px 2px;
    border-bottom: 1px solid #ADADAD;
    gap: 12px;
    max-width: 527px;
    width: 100%;
    height: 106px;
}

.input1 label, .input2 label, .input3 label, .select label {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    color: #666666;
}

.input2 label {
    margin-bottom: -6px;
}

::-webkit-input-placeholder, .INPUT4 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #949494;
}

.INPUT2 {
    display: flex;
    align-items: center;
    gap: 4px;
}

.INPUT2 span {
    margin-bottom: 1.21px;
    font-family: Poppins;
    color: rgb(61, 61, 61);
}

.select {
    display: flex;
    flex-direction: column;
    padding: 14px 2px;
    border-bottom: 1px solid #ADADAD;
    gap: 8px;
    max-width: 543px;
    width: 100%;
}

.INPUT4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.INPUT-frame {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.INPUT-frame img:hover {
    cursor: pointer;
}

.dropdown {
    display: none;
}

.select2 {
    display: flex;
}

.select2:hover {
    cursor: pointer;
}

.select-dropdown {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 16px;
    border: 1px solid #F5EAEA;
    border-radius: 8px;
    gap: 18px;
    position: absolute;
    top: 45px;
    right: 0;
    width: 111%;
    background-color: white;
    z-index: 10;
}

.select-dropdown a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #666666;
    width: 100%;
}

.dropdown:checked + label + .select-dropdown {
    display: flex;
}

.action {
    display: flex;
    justify-content: center;
    gap: 12px;
    max-width: 543px;
    width: 100%;
}

.btn1 {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border: 1px solid #F24D0D;
    border-radius: 10px;
    gap: 12px;
    max-width: 265.5px;
    width: 100%;
    height: 48px;
}

.btn1 p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #F24D0D;
}

.btn2 {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
    gap: 12px;
    max-width: 265.5px;
    width: 100%;
    height: 48px;
    background-color: #F24D0D;
}

.btn2 p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: white;
}

.btn1:hover, .btn2:hover {
    cursor: pointer;
}

@media screen and (max-width: 1078px) {
    header, .content {
        margin: 32px 84.5px;
    }
}

@media screen and (max-width: 967px) {
    .select-dropdown {
        width: 114%;
    }
}

@media screen and (max-width: 909px) {
    header, .content {
        margin: 32px 42px;
    }
}

@media screen and (max-width: 826px) {
    .content {
        flex-direction: column;
    }

    .image {
        display: flex;
        justify-content: center;
    }

    .image img, .box {
        width: auto;
    }

    form {
        align-items: center;
    }
}

@media screen and (max-width: 818px) {
    .select-dropdown {
        width: 113%;
    }
}

@media screen and (max-width: 800px) {
    .pages {
        left: 45px;
    }
}


@media screen and (max-width: 750px) {
    .select-dropdown {
        width: 113%;
    }
}

@media screen and (max-width: 745px) {
    .pages {
        left: 22.5px;
        gap: 4px;
    }
}

@media screen and (max-width: 650px) {
    .pages {
        display: none;
    }

    .user {
        display: none;
    }

    .user2 {
        display: flex;
        border-radius: 12px;
        margin-left: auto;
        position: absolute;
        top: 14px;
        right: 15px;
    }

    .user2:hover {
        cursor: pointer;
    }

    .menu-toggle {
        display: none;
    }

    .side-menu {
        display: none;
        flex-direction: column;
        margin-left: auto;
        padding: 35px 20px;
        border-left: 1px solid rgb(245, 235, 235);
        border-bottom: 1px solid rgb(245, 235, 235);
        border-right: 1px solid rgb(245, 235, 235);
        position: absolute;
        top: 80px;
        right: 0;
        z-index: 0;
        gap: 25px;
        width: 105px;
        background-color: white;
    }

    .menu-toggle:checked + label + .side-menu {
        display: flex;
    }

    .menu3, .menu4 {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .menu4 img {
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(40%) contrast(25%);
    }

    .menu3 p {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        color: #666666;
    }

    .menu4 p {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.8px;
        color: #666666;
    }

    .button1 {
        margin-right: 4rem;
    }
}

@media screen and (max-width: 588px) {
    .select-dropdown {
        width: 113%;
    }
}

@media screen and (max-width: 578px) {
    .select-dropdown {
        width: 115%;
    }
}

@media screen and (max-width: 544px) {
    .select-dropdown {
        width: 116%;
    }
}

@media screen and (max-width: 523px) {
    .select-dropdown {
        width: 118%;
    }
}

@media screen and (max-width: 470px) {
    .image img {
        width: 100%;
    }

    .select-dropdown {
        width: 127.7%;
    }
}